/*@font-face {
  font-family: athiti;
  src: url(../../assets/fonts/athiti/athiti-regular.ttf) format('truetype');
}
*/
body {
  font-family: 'Athiti', monospace;
  font-size: 1.5rem;
}

.full-height {
  height: 100%;
}

.stay-left-bottom {
	position: absolute;
	bottom: 15;
	left: 15;
}