/*@font-face {
  font-family: athiti;
  src: url(../../assets/fonts/athiti/athiti-regular.ttf) format('truetype');
}
*/
body {
  font-family: 'Athiti', monospace;
  font-size: 1.5rem;
}

.full-height {
  height: 100%;
}

.stay-left-bottom {
	position: absolute;
	bottom: 15;
	left: 15;
}

.btn-purple {
	background-color: #BA55D3;
	color: white;
	border: 5px solid #EE82EE;
	font-size: 1.5rem;
}

.btn-purple:hover {
	background-color: #EE82EE;
	color: black;
	border: 5px solid #BA55D3;
  	box-shadow: 5px 5px 15px #EE82EE;
}