@font-face {
  font-family: athiti;
  src: url(../../assets/fonts/athiti/athiti-regular.ttf) format('truetype');
}

@font-face {
  font-family: mitrlight;
  src: url(../../assets/fonts/mitr/Mitr-Light.ttf) format('truetype');
}

body {
  font-family: 'mitrlight', monospace;
  font-size: 1.5rem;
}

.full-height {
  height: 100%;
}

.stay-left-bottom {
	position: fixed;
	bottom: 15;
	left: 15;
}

.non-edit {
	pointer-events: none;
}

.chat-msg-area {
	max-width: 80%;
	border: 1px solid #bfbfbf;
	border-radius: 10px;
	overflow-wrap: break-word;
  	word-wrap: break-word;
  	hyphens: auto;
}

.sticky-top {
	position: sticky;
	top: 0px;
}

.sticky-bottom {
	position: absolute;
	bottom: 0px;
}

.x-btn-purple {
	background-color: #BA55D3;
	color: white;
	border: 3px solid #EE82EE;
	font-size: 1.5rem;
}

.x-btn-purple:hover {
	background-color: #EE82EE;
	color: black;
	border: 3px solid #BA55D3;
  	box-shadow: 5px 5px 15px #EE82EE;
}

.x-btn-blue {
	background-color: #0668E6;
	color: white;
	border: 3px solid #4BF1FF;
	font-size: 1.5rem;
}

.x-btn-blue:hover {
	background-color: #4BF1FF;
	color: black;
	border: 3px solid #0668E6;
  	box-shadow: 5px 5px 15px #4BF1FF;
}

.x-btn-red {
	background-color: #b30000;
	color: white;
	border: 3px solid #ff471a;
	font-size: 1.5rem;
}

.x-btn-red:hover {
	background-color: #ff471a;
	color: black;
	border: 3px solid #b30000;
  	box-shadow: 5px 5px 15px #ff471a;
}

.x-btn-white {
	background-color: #ffffff;
	color: black;
	border: 3px solid #b3b3b3;
	font-size: 1.5rem;
}

.x-btn-white:hover {
	background-color: #b3b3b3;
	color: black;
	border: 3px solid #ffffff;
  	box-shadow: 5px 5px 15px #ffffff;
}

.x-btn-green {
	background-color: #239023;
	color: white;
	border: 3px solid #79ff4d;
	font-size: 1.5rem;
}

.x-btn-green:hover {
	background-color: #79ff4d;
	color: black;
	border: 3px solid #239023;
  	box-shadow: 5px 5px 15px #79ff4d;
}

.x-btn-yellow {
	background-color: #ffff4d;
	color: black;
	border: 3px solid #e6e600;
	font-size: 1.5rem;
}

.x-btn-yellow:hover {
	background-color: #e6e600;
	color: black;
	border: 3px solid #ffff4d;
  	box-shadow: 5px 5px 15px #e6e600;
}

.x-btn-orenge {
	background-color: #e68a00;
	color: white;
	border: 3px solid #ffad33;
	font-size: 1.5rem;
}

.x-btn-orenge:hover {
	background-color: #ffad33;
	color: black;
	border: 3px solid #e68a00;
  	box-shadow: 5px 5px 15px #ffad33;
}

.x-card-light {
	background-color: white;
	color: black;
	border: 0px;
	/*border-top: 3px solid #e6e6e6;*/
}

.x-card-light:hover {
	background-color: #f2f2f2;
	color: black;
	border: 5px solid white;
	box-shadow: 5px 5px 15px #d9d9d9;
	border-radius: 10px;
}


.vl-purple {
	height: 95%;
	border-left: 4px solid #BA55D3;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #EE82EE;
}


.vl-yellow {
	height: 95%;
	border-left: 4px solid #ffff4d;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #e6e600;
}

.true-center-page {
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.badge-login {
	width: 40%;
	border-radius: 20px;
}

.modal-xl {
	max-width: 1100px !important;
}

@media screen and (max-width: 1140px) {
  .true-center-page {
  	width: 40%;
  }

  .modal-xl {
	max-width: 1100px !important;
  }
}

@media screen and (max-width: 960px) {
  .true-center-page {
  	width: 40%;
  }

  .modal-xl {
	max-width: 920px !important;
  }
}

@media screen and (max-width: 720px) {
  .true-center-page {
  	width: 70%;
  }

  .modal-xl {
	max-width: 680px !important;
  }
}

@media screen and (max-width: 540px) {
  .true-center-page {
  	width: 100%;
  }

  .modal-xl {
	max-width: 500px !important;
  }
}